# Mac
.DS_Store

# IntelliJ
.idea

# Python
*.pyc
__pycache__
build/
dist/
*.egg-info
venv*/

# jupyter noteboook
.ipynb_checkpoints

# data models and logs
tblog/
ckpts/
models/
data/
runs/
model_*
model*.pkl
